.container {
  max-width: var(--main-content);
  margin: 0 auto;
}

.button {
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--lighter-gray);
  font-weight: 500;
  background: var(--dark-gray);
  border: none;
  padding: var(--gap-half) var(--gap);
  transition: background-color var(--transition), color var(--transition);
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--lightest-gray);
}

.button:active {
  background-color: var(--darker-gray);
}
