.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;

  /* Animation */
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: var(--overlay);
  will-change: auto;
}

.screen.show {
  opacity: 1;
  pointer-events: auto;
}

.navigationModal {
  position: relative;
  margin: 0 auto;
  z-index: 9999;
  top: calc(30px + var(--big-gap) + (3 * var(--gap-double)));
  width: 700px;
  backdrop-filter: blur(24px);
  box-shadow: var(--box-shadow);

  display: flex;
  overflow: hidden;
  border-radius: var(--big-radius);
  background: var(--modal-bg);

  /* Animation */
  opacity: 0;
  transform: scale(0.97);
  transition: transform 0.2s ease, opacity 0.2s ease;
  will-change: transform, opacity;

  backface-visibility: hidden;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.navigationModal.show {
  opacity: 1;
  transform: none;
}

.navigationModal:focus {
  outline: none;
}

.wrapper {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--dark-gray);
  height: 300px;
  overflow-y: hidden;
}

.menuItems {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0 var(--gap);
  padding-top: var(--gap);
  border-right: 1px solid var(--dark-gray);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: none;
}

.menuItem {
  color: var(--lighter-gray) !important;
  padding: calc(0.5rem * 1.5);
  background-color: var(--darker-gray);
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
}

.menuItemActive {
  color: var(--fg) !important;
}

.menuItem > .icon {
  margin-right: var(--gap);
}

.menuItemGroup {
  box-shadow: var(--box-shadow);
  margin-bottom: var(--gap);
  border-radius: var(--big-radius);
  transition: box-shadow 0.3s;
}

.groupTitle {
  color: var(--lightest-gray);
  font-size: 0.875rem;
  margin-bottom: var(--gap-half);
}

.menuItem:first-child {
  margin-bottom: 0px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.menuItem:last-child {
  margin-bottom: 0px;
  border-bottom: none;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.menuItem:hover {
  color: var(--fg);
  background-color: var(--item-bg-hover);
}

.toggleTheme button:hover {
  transition: none;
}

.previewContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  padding-bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.preview {
  height: 100%;
  padding: var(--gap);
  background-color: var(--lightest-gray);
  border-radius: var(--radius);
}

.navigationModal [data-command-input] {
  padding: 0 16px;
  outline: none;
  height: 60px;
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 1rem;
  color: var(--fg);
}

.navigationModal [data-command-input]::placeholder {
  color: var(--lightest-gray);
}

.navigationModal [data-command-item] {
  padding: 0 var(--gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  height: var(--height);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--gray);
  min-height: 60px;
}

.navigationModal [data-command-item] > div {
  display: flex;
  align-items: center;
}

.navigationModal [data-command-item] kbd {
  user-select: none;
  padding: 0;
  font-weight: normal;
  font-size: 0.875rem;
  background: var(--lightest-gray);
  color: var(--gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  margin-right: var(--gap);
  display: flex;
}

.navigationModal [data-command-item][aria-selected] {
  background: var(--lightest-gray);
  color: var(--fg);
}

.top {
  display: flex;
  align-items: center;
  padding: var(--padding);
}

@media (max-width: 960px) {
  .navigationModal {
    --top: calc(30px + (3 * var(--gap-double)));
    top: var(--top);
  }
}

@media (max-width: 600px) {
  .navigationModal {
    top: var(--top);
    height: calc(100vh - var(--top));
    border-radius: 20px 20px 0 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    animation: slide 0.2s linear;
    width: 100%;
    max-height: calc(100vh - var(--top));

    transform: scale(0.95) translateY(5%);
  }

  .previewContainer {
    display: none;
  }

  .menuItems {
    border-right: none;
  }

  .content {
    height: calc(calc(100vh - var(--top)) - 60px) !important;
    /* Height of the iOS Safari Toolbar (:sadfari:) */
    padding-bottom: 90px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .menuItem:hover {
    color: var(--lightest-gray) !important;
    background-color: var(--item-bg);
  }
}

@media screen and (display-type: standalone) {
  .content {
    padding-bottom: 50px;
  }
}
