/*
  Entry Group
*/
.entryGroup {
  border: 1px solid var(--lighter-gray);
  border-radius: var(--radius);
  margin-top: var(--gap);
}

.entryGroup > .link {
  border-bottom: 1px solid var(--lighter-gray);
}

.entryGroup > .link:hover {
  border-bottom: none;
}

/*
  Entry Group Text
*/
.entryGroupText {
  margin: 0;
  margin-bottom: var(--gap-half);
  color: var(--fg);
}

.emphasized {
  font-weight: bold;
  margin-top: var(--gap-double);
}

/*
  Entry
*/
.link {
  display: flex;
  align-items: center;
  width: 100%;

  color: var(--fg);
  margin-top: 0;
  outline: none;
  text-decoration: none;
  border: 1px solid var(--light-gray);
  border-radius: var(--radius);
  margin-top: var(--gap);
  overflow: hidden;
}

.link > section {
  position: relative;
  object-fit: cover;
  padding: var(--gap);
  overflow: hidden;
  flex: 1;
}

.imageWrapper {
  width: 82px;
  height: 82px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.image {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border-radius: 0;
}

.link > svg {
  width: 32px;
  height: 32px;
  color: var(--light-gray);
  margin-right: var(--gap);
}

.link:hover > svg {
  color: var(--gray);
}

.title,
.description {
  margin: 0;
  line-height: normal;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: var(--gap-half);
}

.description {
  font-weight: 500;
}
