/*
  Entry Group Text
*/
.entryGroupText {
  margin: 0;
  margin-top: var(--gap-double);
  margin-bottom: var(--gap-half);
  padding-left: var(--gap);
  text-transform: uppercase;
  color: var(--gray);
  font-weight: bold;
  font-size: 1em;
}

.entryGroupText.smallGap {
  padding: var(--gap-half);
}

/*
  Entry
*/
.link {
  display: flex;
  align-items: center;
  width: 100%;

  color: var(--fg);
  margin-top: 0;
  outline: none;
  text-decoration: none;
  border-radius: var(--radius);
  margin-top: var(--gap);
  padding: var(--gap);
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
}

.link.smallGap {
  padding: var(--gap-half);
}

.link > section {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
}

.imageWrapper {
  width: 72px;
  height: 72px;
  margin: 0px;
  margin-right: var(--gap);
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
  background: var(--light-gray);
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.link > svg {
  align-self: center;
  width: 32px;
  height: 32px;
  color: var(--gray);
  margin-right: var(--gap);
  margin-left: var(--gap);
  transition: color 0.3s;
}

.link:hover {
  background-color: var(--darker-gray);
  box-shadow: var(--box-shadow-light);
}

.link:active {
  background-color: var(--dark-gray);
}

.link:hover > svg {
  color: var(--lighter-gray);
}

.title,
.description {
  margin: 0;
  line-height: normal;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: var(--gap-half);
}

.description {
  color: var(--gray);
  font-weight: 500;
}

.seeOthersButton {
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--lighter-gray);
  font-weight: 500;
  background: var(--darker-gray);
  border: none;
  padding: var(--gap-half) var(--gap);
  transition: color var(--transition);
  outline: none;
  justify-content: center;
}

.seeOthersButton:focus {
  background: var(--darker-gray);
  color: var(--lighter-gray);
}

.seeOthersButton:active {
  background-color: var(--dark-gray);
}

@media (hover: none) and (pointer: coarse) {
  .entryGroupText {
    padding-left: var(--gap-half);
  }

  .link {
    margin-top: var(--gap-half);
    padding-left: var(--gap-half);
    padding-right: var(--gap-half);
  }

  .link:hover {
    background: transparent;
    color: var(--fg);
    box-shadow: none;
  }

  .link:hover > svg {
    color: var(--gray);
  }

  .seeOthersButton:hover,
  .seeOthersButton:active {
    background: var(--darker-gray);
    color: var(--lighter-gray);
  }
}
