/*
  Entry Group
*/
.entryGroup {
  border: 1px solid var(--lighter-gray);
  border-radius: var(--radius);
  margin-top: var(--gap);
}

.entryGroup > .link {
  border-bottom: 1px solid var(--lighter-gray);
}

.entryGroup > .link:hover {
  border-bottom: none;
}

/*
  Entry Group Text
*/
.entryGroupText {
  margin: 0;
  margin-bottom: var(--gap-half);
  color: var(--fg);
}

.emphasized {
  font-weight: bold;
  margin-top: var(--gap-double);
}

/*
  Entry
*/
.link {
  display: flex;
  align-items: stretch;
  width: 100%;

  color: var(--fg);
  margin-top: 0;
  outline: none;
  text-decoration: none;
  border: 1px solid var(--dark-gray);
  border-radius: var(--radius);
  margin-top: var(--gap);
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s;
}

.link > section {
  position: relative;
  object-fit: cover;
  padding: var(--gap);
  overflow: hidden;
  flex: 1;
}

.imageWrapper {
  width: 82px;
  overflow: hidden;
  position: relative;
  background: var(--light-gray);
  margin: 0px;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.link > svg {
  align-self: center;
  width: 32px;
  height: 32px;
  color: var(--light-gray);
  margin-right: var(--gap);
}

.link:hover {
  background-color: var(--dark-gray);
}

.link:active {
  background-color: var(--darker-gray);
}

.link:hover > svg {
  color: var(--lighter-gray);
}

.title,
.description {
  margin: 0;
  line-height: normal;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: var(--gap-half);
}

.description {
  color: var(--lightest-gray);
  font-weight: 500;
}

.seeOthersButton {
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--lighter-gray);
  font-weight: 500;
  background: var(--dark-gray);
  border: none;
  padding: var(--gap-half) var(--gap);
  transition: background-color var(--transition), color var(--transition);
  outline: none;
  justify-content: center;
}

.seeOthersButton:hover,
.seeOthersButton:focus {
  color: var(--lightest-gray);
}

.seeOthersButton:active {
  background-color: var(--darker-gray);
}

@media (hover: none) and (pointer: coarse) {
  .link:hover {
    color: var(--fg);
  }

  .link:hover > svg {
    color: var(--light-gray);
  }
}
