.item {
  list-style-type: none;
  border: 1px solid var(--dark-gray);
  border-radius: var(--radius);
  margin-bottom: var(--gap);
  transition: background-color 0.3s;
}

.item:hover {
  background: var(--dark-gray);
}

.item:active {
  background: var(--darker-gray);
}

.link {
  display: block;
  text-decoration: none;
  color: var(--fg);
  outline: none;
  display: flex;
  align-items: center;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  display: flex;
  align-items: flex-start;
}

.type {
  font-size: 1rem;
  line-height: 30px;
  flex-basis: 5rem;
  white-space: nowrap;
  margin-right: var(--gap);
  color: var(--gray);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.type + div {
  flex: 1;
}

.title,
.description {
  word-break: break-word;
  margin: 0;
  line-height: 1.3;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: var(--gap-half);
  transition: color var(--transition);
}

.description {
  color: var(--lightest-gray);
  font-weight: 500;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--color);
  margin-left: var(--gap-double);
}

@media (max-width: 600px) {
  .title,
  .description {
    -webkit-line-clamp: 2;
  }
}

@media (hover: none) and (pointer: coarse) {
  .item:hover,
  .item:focus {
    background: transparent;
  }
}
