@import './syntax.css';
@import './markdown.css';
@import './nprogress.css';
@import '/fonts/Inter/inter.css';

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --main-content: 45rem;
  --big-radius: 16px;
  --radius: 8px;
  --inline-radius: 5px;

  /* Typography */
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Background */
  --bg: rgb(23 23 23);
  --overlay: rgba(0 0 0 / 30%);
  --fg: #fafbfc;

  /* Gray */
  --darker-gray: rgb(50 50 50);
  --dark-gray: rgb(80 80 80);
  --gray: rgb(130 130 130);
  --light-gray: rgb(170 170 170);
  --lighter-gray: rgb(144 144 144);
  --lightest-gray: rgb(230 230 230);

  --article-color: #eaeaea;
  --header-bg: rgba(19, 20, 21, 0.45);
  --gray-alpha: rgba(255, 255, 255, 0.5);
  --selection: rgba(255, 255, 255, 0.99);
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --box-shadow-light: 0 1px 4px rgba(0, 0, 0, 0.25);

  /* Modal */
  --modal-bg: linear-gradient(315deg, rgb(15 15 15 / 1) 0%, rgb(29 29 29) 100%);
  --item-bg: rgb(24 24 24);
  --item-bg-hover: rgb(30 30 30);
  --modal-border: rgb(50 50 50);

  /* Syntax Highlighting */
  --token: #999;
  --comment: #999;
  --keyword: #fff;
  --name: #fff;
  --highlight: #2e2e2e;
}

[data-theme='light'] {
  /* Background */
  --bg: #fff;
  --overlay: rgba(0 0 0 / 15%);
  --fg: #000;

  /* Gray */
  --darker-gray: rgb(238 238 238);
  --dark-gray: rgb(218 218 218);
  --gray: rgb(130 130 130);
  --light-gray: rgb(170 170 170);
  --lighter-gray: rgb(80 80 80);
  --lightest-gray: rgb(50 50 50);

  --article-color: #212121;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  /* Modal */
  --modal-bg: linear-gradient(
    315deg,
    rgb(250 250 250 / 1) 0%,
    rgb(223 223 223) 100%
  );
  --item-bg: rgb(246 246 246);
  --item-bg-hover: rgb(228 228 228);
  --modal-border: rgb(218 218 218);

  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html {
  line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overflow: auto;
}

p,
li {
  letter-spacing: -0.33px;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 1.75;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.89px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.33px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

button:focus {
  outline: none;
}

p a,
a.reset {
  outline: none;
  color: var(--fg);
  text-decoration: none;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--gray);
}

pre,
code {
  font-family: var(--font-mono);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.flex {
  display: flex;
}

kbd {
  font-family: var(--font-inter);
  font-size: 1rem;
  padding: 2px 7px;
  font-weight: 600;
  background: var(--lighter-gray);
  border-radius: 5px;
}

summary {
  cursor: pointer;
  outline: none;
}

details {
  border-radius: var(--radius);
  background: var(--lightest-gray);
  padding: 1rem;
  border-radius: var(--radius);
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --header-bg: rgba(255, 255, 255, 0.8);
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);

    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
  }

  * {
    text-shadow: none !important;
  }
}
